<div class="card">
  <div class="card-body">
    <p><img src="https://thumbs2.imgbox.com/97/81/Ednso0jM_t.jpg" class="card-img-top" style="width:200px;height:200px;" alt="..."></p>
    <p align="center" class="card-title">Title</p>
    <p class="card-text">Description</p>
    <p>Price</p>
    </p>Location</p>
    </p>Rating</p>
  </div>
  <button type="button" class="btn btn-danger button-2">Get Service</button>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
