<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/header_second.css" rel="stylesheet">
  <title>Header</title>
</head>

<body>
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg">
    <a class="navbaritem" href="/goMainMenu"><img class="img" src="mainImages/company_logo.png" href="#" alt="shopping picture"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="navbar-nav right-item">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <li class="nav-item dropdown dropdown-style">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="/UserProfile" aria-haspopup="true" aria-expanded="false" style="color:#fff;">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
            <%= Naming %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>
