<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="footer.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link href="css/index.css" rel="stylesheet">
  <script src="javascript/mainpage.js"></script>

  <link rel="icon" href="mainImages/favicon.png" type="image/gif" sizes="16x16">

  <title>Daily Service</title>
</head>

<body>
  <section id="main_1">
    <div class="container-fluid">
      <div class="first-part">
        <div class="bar">
          <nav class="navbar navbar-expand-sm navbar-dark">
            <img class="img" src="mainImages/company_logo.png" alt="shopping picture">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/login" type="button" class="btn btn-sign-in">Sign In</a>
              </li>
              <li class="nav-item">
                <a href="/register" type="button" class="btn btn-outline-danger btn-sign-up">Sign Up</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h1>Shop around for services</h1>
              <h5>You have skills? Want to Post Your Services?<br>Come and join us today!</h5>
              <button type="button" class="btn btn-danger button-1">Join Now!</button>
            </div>
            <div class="col-lg-4">
              <img class="img-1" src="mainImages/shopping.png" alt="shopping picture">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="main_2">
    <div class="container-fluid">
      <div class="card-grid">
        <a class="card" href="/personal">
          <div class="card__background">
            <img src="mainImages/personal.jpg" style="width: 100%;" alt="home picture">
          </div>
          <div class="card__content">
            <p class="card__category">Category</p>
            <h3 class="card__heading">Personal Services</h3>
          </div>
        </a>
        <a class="card" href="#">
          <div class="card__background">
            <img src="mainImages/home_services.jpg" style="width: 100%;" alt="home picture">
          </div>
          <div class="card__content">
            <p class="card__category">Category</p>
            <h3 class="card__heading">Home Services</h3>
          </div>
        </a>
        <a class="card" href="#">
          <div class="card__background">
            <img src="mainImages/find-good-babysitter.jpg" style="width: 100%;" alt="home picture">
          </div>
          <div class="card__content">
            <p class="card__category">Category</p>
            <h3 class="card__heading">Children Services</h3>
          </div>
          </li>
          <a class="card" href="#">
            <div class="card__background">
              <img src="mainImages/event.jpg" style="width: 100%;" alt="home picture">
            </div>
            <div class="card__content">
              <p class="card__category">Category</p>
              <h3 class="card__heading">Event Services</h3>
            </div>
          </a>
      </div>
    </div>
  </section>

  <section id="main_3">
    <h4>Services</h4>
    <div class="container-fluid">

      <p class="card-row1">
      <div class="card-deck">
        <div class="card-grid">

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-plumber.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-delivery.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-tutor.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-carpentry.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-cleaner.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-photographer.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-wedding.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-barber.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-aircond.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-carpentry.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-handyman.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-electrical.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <!-- KALAU NAK ADD LAGI CARD LETAK KAT SINI  -->


        </div>
      </div>
      </p>


    </div>
  </section>


  <section id="main_4">
    <div class="testimonial">
      <p class="main_4_title" align="center">Let's Hear!</p>
      <p class="main_4_caption" align="center">Hundreds of thousands of users have found and hired great service providers
        <br />from Daily Service
      </p>
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/card-aircond.jpg" alt="1" width="500" height="500">
            <div class="carousel-caption">
              <p class="s4-title">Customer 1</p>
              <p>We had such a great home_services!</p>
            </div>
          </div>
          <div class="carousel-item">
            <div>
              <img src="images/card-photographer.jpg" alt="2" width="500" height="500">
            </div>
            <div class="carousel-caption">
              <p class="s4-title">Customer 2</p>
              <p>We had such a great time with friendly workers!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/card-handyman.jpg" alt="3" width="500" height="500">
            <div class="carousel-caption">
              <p class="s4-title">Customer 3</p>
              <p>Best service, quick and efficient!</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>


    </div>

  </section>

  <section id="main_5">

  </section>

</body>

<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <!--headin5_amrc-->
        <p class="mb10">Daily Services is the best way to hire local service
          professionals for your home or office. Save your time
          by booking your services using this app.</p>

        <p><i class="fa fa-location-arrow"></i> USM, 1800 Gelugor, Penang, Malaysia </p>
        <p><i class="fa fa-phone"></i> +604 12345678 </p>
        <p><i class="fa fa fa-envelope"></i> info@dailyservices.com </p>


      </div>P

      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Service Category</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://webenlance.com">Personal Services</a></li>
          <li><a href="http://webenlance.com">Home Services</a></li>
          <li><a href="http://webenlance.com">Children services</a></li>
          <li><a href="http://webenlance.com">Event Services</a></li>

        </ul>
        <!--footer_ul_amrc ends here-->
      </div>


      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Why Us?</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <p class="mb13">
            <li>✓ Save Money </li>
            <li>✓ Professional </li>
            <li>✓ Convinient </li>
            <li>✓ Assuarance </li>
          </p>
        </ul>



        <!--footer_ul_amrc ends here-->
      </div>


      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul2_amrc">
          <li><a href="#"><i class="fab fa-facebook fleft padding-right"></i> </a>
            <p> Facebook <a href="#">https://www.facebook.com/</a></p>
          </li>
          <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p> Twitter <a href="#">https://www.twitter.com/</a></p>
          </li>
          <li><a href="#"><i class="fab fa-youtube fleft padding-right"></i> </a>
            <p> Youtube <a href="#">https://www.youtube.com/</a></p>
          </li>
          <li><a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a>
            <p> instagram <a href="#">https://www.instagram.com/</a></p>
          </li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>


  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="http://webenlance.com">Home</a></li>
      <li><a href="http://webenlance.com">About</a></li>
      <li><a href="http://webenlance.com">Services</a></li>
      <li><a href="http://webenlance.com">Services Provider</a></li>
      <li><a href="http://webenlance.com">Search</a></li>
      <li><a href="http://webenlance.com">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2020 | Designed With by <a href="#">Daily Services</a></p>

    <ul class="social_footer_ul">
      <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>
