<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--load all styles font awesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/Personal_Services.css">

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">

   <!-- Column -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="icon" href="mainImages/favicon.png" type="image/gif" sizes="16x16">
    <title></title>
  </head>
  <body>


    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img class="img" src="images/logo.png" href="#" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto left-item">

        </ul>

        <ul class="navbar-nav right-item">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <li class="nav-item active homepart">
            <a class="nav-link" href="#">
              <i class="fa fa-home"></i>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item chatpart">
            <a class="nav-link" href="#">
              <i class="fas fa-comment fa-lg" style="color:#fff;">
              </i>
            </a>
          </li>
          <li class="nav-item emailpart">
            <a class="nav-link" href="#">
              <i class="fas fa-envelope fa-lg" style="color:#fff;">
              </i>
            </a>
          </li>
          <li class="nav-item dropdown dropdown-style">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#fff;">
              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
              Fakhruddin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>



  <section id="main_1">

    <div class="container">
      <div class="row">

        <div class="col-lg-6">
          <h1>Personal Services</h1>

          <h5>Daily Services is the leading web application to find local service providers like cleaners, part time maids, electricians, air conditioning experts, plumbers and other home pros.
          Use our app to book reliable professionals at the tap of a button. All our service providers are vetted.
          </h5>
          <h5>Need helper? Book your service now!</h5>
         <button type="button" class="btn btn-danger button-1">BROWSE MORE SERVICES</button>

        </div>

        <div class="col-lg-4">
          <img class="img-1" src="images/human-services.png" alt="picture">
        </div>
      </div>
    </div>

  </section>



  <section id="main_2">


    <h4>Services</h4>
    <div class="container-fluid">

      <p class="card-row1">
      <div class="card-deck">
        <div class="card-grid">

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-plumber.jpg" class="card-img-top" alt="..."></p>

                <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-delivery.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-tutor.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-carpentry.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-cleaner.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-photographer.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-wedding.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-barber.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-aircond.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-carpentry.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-handyman.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p><img src="images/card-electrical.jpg" class="card-img-top" alt="..."></p>
              <p align="center" class="card-title">Title</p>
              <p class="card-text">Description</p>
              <p>Price</p>
              </p>Location</p>
              </p>Rating</p>
            </div>
            <button type="button" class="btn btn-danger button-2">Get Service</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <!-- KALAU NAK ADD LAGI CARD LETAK KAT SINI  -->


        </div>
      </div>
      </p>


    </div>

  </section>

  <section id="main_3">
    <p class="main_3_title" align="center">Why Get Services From Us?</p>

    <div class="row justify-content-between text-center">
              <div class="col-12 col-md-3 p-3 text-center">
                <div class="mb-3"><img src="images/icon-fairprice.png" style="width: auto; max-height: 130px;"></div>
                <p class="footer-title">
                  SAVE MONEY
                </p>
                <p class="footer-desc"s>
                  We pride our service providers in providing a fair price to their customers. No other hidden charges.
                </p>
              </div>
              <div class="col-12 col-md-3 p-3 text-center">
                <div class="mb-3"><img src="images/icon-safe.png" style="width: auto; max-height: 130px;"></div>
                <p class="footer-title">
                  PROFESSIONAL
                </p>
                <p class="footer-desc">
                  We provide particular experts to ensure the highest standards of quality and professionalism.
                </p>
              </div>
              <div class="col-12 col-md-3 p-3 text-center">
                <div class="mb-3"><img src="images/icon-convenient.png" style="width: auto; max-height: 130px;"></div>
                <p class="footer-title">
                  CONVENIENT
                </p>
                <p class="footer-desc">
                  Book via our web application anytime. Our app allows you to book services whenever and wherever. Send your request through the system and we will take care of the rest.
                </p>
              </div>
              <div class="col-12 col-md-3 p-3 text-center">
                <div class="mb-3"><img src="images/icon-guarantee.png" style="width: auto; max-height: 130px;"></div>
                <p class="footer-title">
                  ASSUARANCE
                </p>
                <p class="footer-desc">
                  Rest assured with our 30 day satisfaction guarantee. If for any reason you are unsatsified with a service, our Service Providers will come back and sort out your issues with no additional charges.
                </p>
              </div>
            </div>
  </section>


  <section id="main_4">
  </section>


  </body>


  <!-- FOOTER  -->
  <footer class="footer">
    <div class="container bottom_border">
      <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
          <!--headin5_amrc-->
          <p class="mb10">Daily Services is the best way to hire local service
            professionals for your home or office. Save your time
            by booking your services using this app.</p>



          <p><i class="fa fa-location-arrow"></i> USM, 1800 Gelugor, Penang, Malaysia </p>
          <p><i class="fa fa-phone"></i> +604 12345678 </p>
          <p><i class="fa fa fa-envelope"></i> info@dailyservices.com </p>


        </div>P

        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Service Category</h5>
          <!--headin5_amrc-->
          <ul class="footer_ul_amrc">
            <li><a href="http://webenlance.com">Personal Services</a></li>
            <li><a href="http://webenlance.com">Home Services</a></li>
            <li><a href="http://webenlance.com">Children services</a></li>
            <li><a href="http://webenlance.com">Event Services</a></li>

          </ul>
          <!--footer_ul_amrc ends here-->
        </div>


        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Why Us?</h5>
          <!--headin5_amrc-->
          <ul class="footer_ul_amrc">
            <p class="mb13">
              <li>✓ Save Money </li>
              <li>✓ Professional </li>
              <li>✓ Convinient </li>
              <li>✓ Assuarance </li>
            </p>
          </ul>



          <!--footer_ul_amrc ends here-->
        </div>


        <div class=" col-sm-4 col-md  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
          <!--headin5_amrc ends here-->

          <ul class="footer_ul2_amrc">
            <li><a href="#"><i class="fab fa-facebook fleft padding-right"></i> </a>
              <p> Facebook <a href="#">https://www.facebook.com/</a></p>
            </li>
            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
              <p> Twitter <a href="#">https://www.twitter.com/</a></p>
            </li>
            <li><a href="#"><i class="fab fa-youtube fleft padding-right"></i> </a>
              <p> Youtube <a href="#">https://www.youtube.com/</a></p>
            </li>
            <li><a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a>
              <p> instagram <a href="#">https://www.instagram.com/</a></p>
            </li>
          </ul>
          <!--footer_ul2_amrc ends here-->
        </div>
      </div>
    </div>


    <div class="container">
      <ul class="foote_bottom_ul_amrc">
        <li><a href="http://webenlance.com">Home</a></li>
        <li><a href="http://webenlance.com">About</a></li>
        <li><a href="http://webenlance.com">Services</a></li>
        <li><a href="http://webenlance.com">Services Provider</a></li>
        <li><a href="http://webenlance.com">Search</a></li>
        <li><a href="http://webenlance.com">Contact</a></li>
      </ul>
      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center">Copyright @2020 | Designed With by <a href="#">Daily Services</a></p>

      <ul class="social_footer_ul">
        <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <!--social_footer_ul ends here-->
    </div>

  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>





</html>
