<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Error Now</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />

</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-bg">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<h1>oops!</h1>
			<h2>Error Data: <br>You already upload service. Please delete your previous service and enter again</h2>
			<a href="/UserProfile">go back</a>
		</div>
	</div>
</body>
</html>
