<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include("LinkDesign"); -%>

  <link href="css/UserProfile.css" rel="stylesheet">
  <title>Header</title>
</head>
  <body>
    <%- include("header"); -%>
    <body action="/Service_Provider_Profile" method="POST">
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active dashboard" aria-current="page" href="#">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Personal Information
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Services Information
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Post Services
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Services Status
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Services History
                  </a>
                </li>
              </ul>

              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Update Profile</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Personal Information
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Services Information
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 middle-part">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>
        <div class="container">
          <div class="row profile">
            <div class="col-md-3">
              <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Muhammad Fakhruddin
                  </div>
                  <div class="profile-usertitle-job">
                    Plumber
                  </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                  <button type="button" class="btn btn-success btn-sm">Update</button>
                  <button type="button" class="btn btn-danger btn-sm">Log Out</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                  <ul class="nav">
                    <li class="active">
                      <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                        Overview </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        Account Settings </a>
                    </li>
                    <li>
                      <a href="#" target="_blank">
                        <i class="glyphicon glyphicon-ok"></i>
                        Tasks </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="glyphicon glyphicon-flag"></i>
                        Help </a>
                    </li>
                  </ul>
                </div>
                <!-- END MENU -->
              </div>
            </div>
            <div class="col-md-9">
              <div class="profile-content">
                Name: Muhammad Fakhruddin Bin Norulhaizy
              </div>
            </div>
          </div>
        </div>

        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  </body>
</html>
